

/*----------------------- General Styles -----------------------*/
:root{
    --hue-1: 257;
    --hue-2: 47;
    --bg-color: hsl(var(--hue-1), 100%, 97%);
    --main-color-1: rgb(255, 255, 255);
    --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
    --main-color-2: rgb(7, 198, 0);
    --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
    --bg-color-1: hsl(var(--hue-1), 100%, 97%);
    --bg-color-2: #000000;
    --bg-color-4: rgb(0, 0, 0);
    --bg-color-3: hsl(var(--hue-1), 100%, 98%);
    --bg-color-transparent: rgba(0, 0, 0, 0.396);
    --heading-color: white;
    --text-color: white;
    --text-color-1: white;
    --section-padding: 7rem;
    --btn-color: rgba(255, 255, 255, 0.827);
}

section{
  width: 100%;
}

/*----------------------- General Styles -----------------------*/

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(https://mcdn.wallpapersafari.com/medium/7/45/IngcfO.png) no-repeat center center fixed;  */
    height: 100vh;
    background: url(https://mcdn.wallpapersafari.com/medium/7/45/IngcfO.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 0.5s;
}

.bodybg{
  background-color: rgba(0, 0, 0, 0.525);
  width: 100%;
  height: 150%;
  position: absolute;
  z-index: -1;
}

::selection{
    background-color: transparent;
    color: rgb(61, 61, 61);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*----------------------- Reusable css code -----------------------*/
.container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.logo{
    margin-right: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: 0.3s;
    color: var(--heading-color);
}

.logo span{
    color: var(--main-color-1);
}

.sub-heading{
    color:var(--heading-color);
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: .13rem .75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.5s;
}

.sub-heading-dark{
    color:rgb(175, 176, 223);
    text-transform: uppercase;
    font-size: .85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: .13rem .75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.5s;
}

.heading{
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
    transition: 0.5s;
}

.heading-dark{
    color: rgb(128, 144, 185);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
    transition: 0.5s;
}

.text{
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
}

.cta{
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn{
    margin-right: 1.5rem;
}

.btn{
    display: inline-block;
    padding: .9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--btn-color);
    color: #000000;
    font-size: .85rem;
    letter-spacing: .4px;
    text-transform: capitalize;
    transition: 0.6s;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.359);
}

.btn:hover{
    border: 1px solid rgba(255, 255, 255, 0.53);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: 0.3s;
}

.btn.secondary-btn{
    border: 1px solid rgba(255, 255, 255, 0);
    transform: 0.5s;
    position: relative;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.secondary-btn:hover{
    box-shadow: 0 1px 10px 0.1px rgba(0, 0, 0, 0);
}

.btn.secondary-btn-dark{
    transform: 0.5s;
    position: relative;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.project-btn{
    position: relative;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.53);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid transparent;
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.project-btn:hover{
    color: rgb(28, 0, 120);
}

.btn.project-btn::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: rgba(0, 0, 49, 0.093);
    transition: 0.3s ease-in-out;
}

.btn.secondary-btn::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--main-color-1);
    transition: 0.3s ease-in-out;
}

.btn.project-btn:hover::before{
    width: 100%;
}

.btn.secondary-btn:hover::before{
    width: 100%;
}

.section{
    position: relative;
    padding: var(--section-padding) 0;
}


/*----------------------- Navbar Styles -----------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

header.scrolled{
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(20px);
    background-color: var(--bg-color-transparent);
}

nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .logo{
    height: 120px;
    line-height: 120px;
}

header.scrolled .logo{
    height: 80px;
    line-height: 80px;
}

.links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.links ul{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
    color: var(--text-color);
}

.nav-link:hover{
    color: var(--heading-color);
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffffe7;
    min-width: 160px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .hamburger{
    display: none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;    
    position: relative;
  }

  .hamburger .bar{
    height: 3px;
    width: 100%;
    background-color: var(--heading-color);
    border-radius: 3px;
    position: absolute;  
  }

  .hamburger .bar:first-child{
    top: 1rem;
    transition: top 0.2s 0.15s, transform 0.3s;
  }

  .hamburger .bar:last-child{
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
  }

  body.open .hamburger .bar:first-child{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
  }

  body.open .hamburger .bar:last-child{
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
  }

  @media (max-width: 990px){
    .hamburger{
      display: block;
    }

    .links{
      order: 3;
      flex-basis: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0 2rem;
      opacity: 0;
      transition: 0.3s;
    }

    header nav{
      justify-content: space-between;
    }

    .links ul{
      position: relative;
      flex-direction: column;
    }

    .nav-link{
      margin: 1.5rem 0;
      color: var(--heading-color);
      font-weight: 500;
    }

    .links ul::after{
      content: "";
      position: absolute;
      width: 0%;
      height: 0.5px;
      background-color: var(--heading-color);
      opacity: 0;
      top: -0.5rem;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;

    }

    .overlay{
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 6;
      opacity: 0;
      transition: 0.3s;
      pointer-events: none;
    }

    header{
      height: 720px;
      max-height: 100px;
      overflow: hidden;
    }

    header.scrolled{
      height: 680px;
      max-height: 80px;
    }

    body.open header{
      max-height: 720px;
      box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(20px);
      background-color: var(--bg-color-transparent);
    }

    body.open .overlay{
      pointer-events: auto;
    }

    body.open .links ul::after{
      opacity: 0.7;
      width: 100%;
    }

    body.open header.scrolled{
      max-height: 720px;
    }

    body.open .links{
      opacity: 1;
    }
  }

/*----------------------- Showcase Area Styling -----------------------*/

.showcase-area{
    height:200vh;
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
}

.showcase-area .container{
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
    height: calc(100vh - 120px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .sub-heading{
    margin-bottom: 0.6rem;   
}

.showcase-area .heading{
    font-size: 4.5rem;
}

.showcase-area .text{
    margin: 0.8rem 0;
}

.showcase-info{
    padding-top: 200px;
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
}

.showcase-image{
    padding-top: 50px;
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
}

.showcase-image .person{
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-25%);
    border-radius: 0 80px 0 80px;
}
/*----------------------- About Section Styling -----------------------*/

.about-section{
  width: 100%;
  background-color: #000000;
  transition: 0.5s;
} 

/*----------------------- Skills Section Styling -----------------------*/

.skills{
    background-color: #000000;
    overflow: hidden;
    transition: 0.5s;
}

.skills-box{
    transition: 0.5s;
    background-color: #000000;
    padding: 5rem 2rem;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 1px 80px 0.1px rgba(129, 129, 129, 0.584);
}

.box-desc{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 2rem;
}

.skills-wrap{
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 2rem;
    justify-content: space-between;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sk-progress{
    width: 150px;
    height: 150px;
    position: relative;
}

.sk-progress svg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sk-progress svg circle{
    fill: var(--bg-color-1);
    stroke-width: 10px;
    stroke: var(--main-color-1);
    stroke-linecap: round;
    stroke-dasharray: 427;
    stroke-dashoffset: 427;
}

@keyframes progress{
    to{
        stroke-dashoffset: var(--target);
    }
}

.counter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--heading-color);
    font-weight: 400;
    font-size: .9rem;
}

.counter span{
    font-size: 2.45rem;
}

.sk-title{
    color: var(--heading-color);
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 1rem;
}

/*----------------------- Services Section Styling -----------------------*/
.services .container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
}

.milestones{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-items: flex-start;
}

.milestones h2{
    color: var(--main-color-1);
    font-size: 1.3rem;
}

.milestones h2 span{
    font-size: 2rem;
    line-height: 1.2;
    margin-left: 0.1rem;
}

.milestones h5{
    color: var(--heading-color);
    line-height: 0.9;
    font-weight: 500;
    font-size: 0.95rem;
}

.services-grid{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4.4rem;
}

.srv-card{
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 1px 40px 0.1px rgba(124, 124, 124, 0.348);
    padding: 2.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 200px;
    transition: 0.3s;
}

.srv-card:hover{
    transition: 0.3s;
    box-shadow: 0 1px 50px 0.1px rgba(1, 106, 31, 0.501);
}

.srv-card-dark:hover{
    transition: 0.5s;
    box-shadow: 0 5px 20px 0.1px rgba(255, 255, 255, 0.2);
}

.srv-card h3{
    color: var(--heading-color);
    font-weight: 500;
    font-size: 15px;
}

.srv-card .text{
    margin: 0.7rem 0;
    font-size: 0.7rem;
}

.srv-card:nth-child(2){
    transform: translateY(2.2rem);
}

.srv-card:nth-child(3){
    transform: translateY(-2.2rem);
}

.services-grid::before{
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid gray;
    z-index: -1;
    opacity: 0.07;
}


/*----------------------- Portfolio Section Styling -----------------------*/

.portfolio-header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.portfolio-title{
    padding-bottom: 1rem;
}

filter-btn{
    display: inline-block;
    color: var(--heading-color);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    font-family: inherit;
    text-transform: uppercase;
}


/*------------------------ Footer ---------------------------*/
.site-footer
{
  background-color:#161616;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#03791f;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


/*------------------------ Chat Bot ---------------------------*/

.chatbtn{
  position: fixed;
  bottom: 5%;
  right: 10px;
  display: inline-block;
  padding: 11px 17px 15px 17px;
  border-radius: 50px;
  background-color: var(--btn-color);
  backdrop-filter: blur(10px);
  color: #000000;
  font-size: 20px;
  letter-spacing: .4px;
  text-transform: capitalize;
  transition: 0.6s;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.359);
}

.chatbtn:hover{
  border: 1px solid rgba(255, 255, 255, 0.53);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  transition: 0.3s;
}

.chatbtn-active{
  display: none;
}

.chat-box{
  display: none;
  padding: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: 0.5s;
  z-index: 100;
}

.chat-box-active{
  display: grid;
}

.close-chat{
  position: absolute;
  top: 5px;
  right: 15px;
  color: #00000071;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.close-chat:hover{
  color: #000000;
  transition: 0.3s;
}

.chat-box hr{
  position: absolute;
  top: 25px;
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}

.chat-box .bot{
  width: 100%;
  text-align: left;
}

.chat-box .bot p{
width: 80%;
padding: 10px 10px 10px 10px;
border-radius: 0px 10px 10px 10px;
background-color: rgba(0, 0, 0, 0.612);
color: white;
}

.chat-box .user{
width: 100%;
text-align: right;
}

.chat-box .user p{
text-align: left;
width: 80%;
margin-left: 40%;
}

.chat-box .user p button{
margin-left: 10%;
}
